# Faker
- 가상 데이터 생성

In [ ]:
# !pip install Faker

Collecting Faker
  Downloading faker-37.1.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in c:\users\playdata\anaconda3\envs\pystudy_env\lib\site-packages (from Faker) (2025.1)
Downloading faker-37.1.0-py3-none-any.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 1.9/1.9 MB 35.2 MB/s eta 0:00:00
Installing collected packages: Faker
Successfully installed Faker-37.1.0

In [5]:
from faker import Faker

fake=Faker()

print(fake.name())
print(fake.first_name()+','+fake.last_name())
print(fake.email())
print(fake.company())
print(fake.date_of_birth(minimum_age=19, maximum_age=90))

Kayla Hubbard
Sharon,Hansen
michele07@example.org
Hanson, Tate and Wright
1941-11-30

In [8]:
import pandas as pd
import random

fake=Faker()

def generate_customer_data(n=1000):
    data=[]

    for _ in range(n):
        age=fake.random_int(min=19,max=60)
        sub_month=fake.random_int(min=1,max=120)
        monthly_payment= round(random.uniform(10,100),2)
        usage_frequency=fake.random_int(min=1,max=30)
        stft_score=fake.random_int(min=1,max=5)
        churn=fake.boolean(chance_of_getting_true=30)

        data.append([
            age, sub_month,monthly_payment,usage_frequency,stft_score,churn
        ])

    columns=['AGE','SUB_MONTHS','MONTHLY_PAYMENT','USAGE_FREQ','STFT','CHURN']

    return pd.DataFrame(data,columns=columns)

In [10]:
customer_df=generate_customer_data(200000)
customer_df

        AGE  SUB_MONTHS  MONTHLY_PAYMENT  USAGE_FREQ  STFT  CHURN
0        25          69            23.23          12     1  False
1        31          82            65.53          19     1   True
2        42          67            89.86          26     2  False
3        32          46            78.77          19     4  False
4        30          41            31.57          27     1  False
...     ...         ...              ...         ...   ...    ...
199995   47          78            56.32          18     5  False
199996   33         103            68.13           9     3  False
199997   21          78            30.46          20     2  False
199998   43         110            25.49          24     4   True
199999   54          90            51.49          10     4  False

[200000 rows x 6 columns]

In [11]:
customer_df.to_csv('./data/customer_data.csv', index=False)